.App {
  margin: 20px auto;
  max-width: 360px;
  height: auto;
  padding: 10px;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("vertical-shot-curvy-road-forest-covered-yellowing-trees-dried-leaves-autum.webp");
}
