.Weather {
  font-family: arial, sans-serif;
  border: 1 px solid;
}
.Weather ul {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding-left: 12px;
  margin-bottom: 14px;
}
.Weather li {
  list-style: none;
  color: white;
  padding: 5px;
}
.Weather h1 {
  font-weight: 600;
  line-height: 2;
  color: #ffffff;
  font-size: 31px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.Weather h2 {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  color: #ffffff;
  font-size: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 14px;
  text-align: center;
}
.Weather h3 {
  font-weight: 600;
  color: #ffffff;
  font-size: 48px;
  padding-bottom: 10px;
}
.Weather img {
  width: 80px;
  height: 80px;
  display: block;
  position: relative;
  top: -10px;
}

#unit {
  font-size: 21px;
  color: #ffffff;
  text-align: start;
  padding-left: -5px;
}

#unit a {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

#unit a.active {
  color: orangered;
  font-weight: bold;
}

.Weather form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 2px;
}
.Weather input {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  color: #ffffff;
  width: 100%;
  padding: 10px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  font-size: 16px;
}

.Weather input:focus {
  outline: none;
  border-color: orangered;
}

.Weather input::placeholder {
  color: #ffffff;
  opacity: 0.7;
}

.Weather button {
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  background-color: orangered;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
}

.ErrorMessage {
  color: red;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}
.Spinner {
  display: flex;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: orangered;
}

footer {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}
