.Weather {
  font-family: arial, sans-serif;
  border: 1 px solid;
}
.Weather ul {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 0;
}
.Weather li {
  list-style: none;
  color: white;
  padding: 5px;
}
.Weather h1 {
  font-weight: 600;
  line-height: 2;
  color: #ffffff;
  font-size: 32px;
  padding-top: 24px;
  padding-bottom: 20px;
  text-align: center;
}
.Weather h2 {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  color: #ffffff;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.Weather h3 {
  font-weight: 600;
  color: #ffffff;
  font-size: 48px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.Weather img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}

.Weather form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 2px;
}
.Weather input {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  color: #ffffff;
  width: 100%;
  padding: 10px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  font-size: 16px;
}

.Weather button {
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  background-color: orangered;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
}

.Weather a {
  text-decoration: none;
  color: orangered;
}

.Weather footer {
  margin: 35px auto;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}
